body, html {
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url("../images/hogwarts9.jpg");
    background-size: cover;
}

#tbh1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 0.5%;
}

h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#p1, #p3, #p5, #p7, #p9, #p11 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
}

#p2, #p4, #p6, #p8, #p10, #p12 {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
}

#harry, #ron, #hermione, #draco, #bellatrix, #voldemort {
    position: absolute;
    top: 15px;
    left: 15px;
}

#pharry, #pron, #phermione, #pdraco, #pbellatrix, #pvoldemort {
    position: relative;
    border: 2px solid green;
    display: inline-block;
    height: 109px;
    width: 109px;
    background-color: #ffffff;
    margin-top: 0px;
}

#pharry:hover, #pron:hover, #phermione:hover, #pdraco:hover, #pbellatrix:hover, #pvoldemort:hover {
    transform: scale(1.02);
}

#msg1, #msg2 {
    color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 980px) {

    body {
        background-image: url("../images/hogwartst.png");
        background-size: cover;
    }

    #tbh1 {
        font-size: 48px;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    h2 {
        font-size: 3rem;
        margin-top: 2%;
        margin-bottom: 2%;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {

    #tbh1 {
        font-size: 28px;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    
    #harry, #ron, #hermione, #draco, #bellatrix, #voldemort {
        height: 60px;
        width: 60px;
        top: 12px;
        left: 12px;
    }

    #pharry, #pron, #phermione, #pdraco, #pbellatrix, #pvoldemort {
        width: 88px;
        height: 88px;
    }

    #p1, #p3, #p5, #p7, #p9, #p11 {
        font-size: 8px;
        top: 1px;
    }

    #p2, #p4, #p6, #p8, #p10, #p12 {
        font-size: 8px;
        bottom: 1px;
    }

    h2 {
        font-size: 2rem;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    body {
        background-image: url("../images/hogwartsm.png");
        background-size: cover;
    }

}

@media screen and (max-width: 420px) {

    #tbh1 {
        font-size: 28px;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    
    #harry, #ron, #hermione, #draco, #bellatrix, #voldemort {
        height: 60px;
        width: 60px;
        top: 12px;
        left: 12px;
    }

    #pharry, #pron, #phermione, #pdraco, #pbellatrix, #pvoldemort {
        width: 88px;
        height: 88px;
    }

    #p1, #p3, #p5, #p7, #p9, #p11 {
        font-size: 8px;
        top: 1px;
    }

    #p2, #p4, #p6, #p8, #p10, #p12 {
        font-size: 8px;
        bottom: 1px;
    }

    h2 {
        font-size: 2rem;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    body {
        background-image: url("../images/hogwartsmp.png");
        background-size: cover;
    }
}